<div class="container detail">
  <div class="image">
    <img src="{{url+'get-image/'+projectImage}}" *ngIf='projectImage' alt="">
  </div>
  <div class="data">
      <h1>{{projectName}}</h1>
      <h3>{{projectDescription}}</h3>
      <p>{{projectCategory}}</p>
      <p>{{projectLangs}}</p>
      <p *ngIf="!confirBorrado"> 
        <a [routerLink]="['/editar-proyecto', projectID]" class="button-edit">Editar</a>
        <a (click)="setConfirm(true)" class="button-delete">Borrar</a>
      </p>
      <p *ngIf="confirBorrado" class="eliminar"> 
        <span>Desea eliminar este proyecto?</span><br>
        <a (click)="setConfirm(false)" class="button-edit">Cancelar</a>
        <a (click)="deleteProject(projectID)" class="button-delete">Eliminar</a>
      </p>
  </div>
  <div class="clear"></div>
</div>