<div class="container">
  <h2>{{title}}</h2>
  <!--*ngIf="status == 'success'"      *ngIf="status == 'failed'" -->
  <div class="message success" *ngIf="status == 'success'">
    El proyecto se ha creado correctamente, puedes <a [routerLink]="['/proyecto',save_project._id]">verlo aqui</a>
  </div>
  <div class="message failed" *ngIf="status == 'failed'">
    El proyecto NO SE HA PODIDO CREAR
  </div>

  <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
    <p>
      <label for="name">Nombre</label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" required>
      <span class="form_error" *ngIf="name.touched && !name.valid">
        El nombre es obligatorio
      </span>
    </p>
    <p>
        <label for="description">Descripcion</label>
        <textarea name="description" #description="ngModel" [(ngModel)]="project.description" required></textarea>
        <span class="form_error" *ngIf="description.touched && !description.valid">
          La descripcion es obligatorio
        </span>
    </p>
    <p>
        <label for="category">Categoria</label>
        <input type="text" name="category" #category="ngModel" [(ngModel)]="project.category" required>
        <span class="form_error" *ngIf="category.touched && !category.valid">
          La categoria es obligatorio
        </span>
    </p>
    <p>
        <label for="langs">Lenguajes utilizados</label>
        <input type="text" name="langs" #langs="ngModel" [(ngModel)]="project.langs" required>
        <span class="form_error" *ngIf="langs.touched && !langs.valid">
          Los lenguajes son obligatorio
        </span>
    </p>
    <p>
        <label for="year">Año de lanzamiento</label>
        <input type="number" name="year" #year="ngModel" [(ngModel)]="project.year">
    </p>
    <p>
        <label for="image"></label>
        <span class="image">
          <img src="{{url+'get-image/'+projectImage}}" *ngIf='projectImage' alt="" style="width: 100px;">
        </span>
        <input type="file" name="image" placeholder="Subir Imagen" (change)="fileChangeEvent($event)">
    </p>

    <input type="submit" value="Enviar" [disabled]="!projectForm.valid">
    

  </form>

</div>


